@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');




body {

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	
}

h3 {
	color: #6B6905;
	font-size: 1.5rem;
	padding: 50px 0 0 0;
}

.wrap {
	width: 800px;
	margin: 0 auto;
}

.header__wrap {
	
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 43px 0 43px 57px;
}

.header__logo {
	padding: 4px 0 0 0;
	width: 100px;
}
.header__phone a{
	font-size: 2rem;
	font-weight: 900;
	color:#0B486B;
	text-decoration: none;
}

.promo {

}
.promo__title {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.promo__title li {
	list-style: none;
	color: #6B6905;
	font-size: 4rem;
	font-weight: 900;
}
/* другий елемент великого заголовку  */
.promo__title li:nth-child(2){
	color: #B8B412;
}
.promo__subtitle {
	width: 600px;
	text-align: center;
	color: #B8B412;
	font-size: 2rem;
}
.promo__subtitle span {
	color: #6B6905;
}

/* price */
.price {
}
.price__templates {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.price__templates img {
	height: 100px;
}
.price__item p {
	color: #0074B8;
	font-size: 1rem;
	font-weight: 400;
}
.price__item p span {
	color: #B81218;
	font-size: 1rem;
	font-weight: 400;
	display: inherit;
}

/* steps */
.steps__wrap {
	display: flex;
	justify-content: center;
}
.steps__img2 {
	display:none;
}

/* materials */
.materials h4 {
	color: #0B486B;
}
.materials dd {
	color: #0074B8;
	font-weight: 700;
	line-height: 1.5;
}

.materials__wrap {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: right;
}

/* benefits */
.benefits li {
	list-style-image: url("../img/design/check.svg");
	margin: 5px;
	padding: 0 0 0 5px;
}

/* gallery */
.gallery__images {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.gallery img{
	width:200px;
	border-radius: 10px;
}

/* reviews */
.client_name {
	font-size: 1.1rem;
	font-weight: 700;
	color: #0B486B;
}

/* faq */
.faq details {
	padding: 5px;
}

/* contacts */
.contacts__wrap {
	text-align: center;
}
.contacts img {
	border-radius: 10px;
	padding: 5px;
}
.contacts__lastoffer {
	margin: 60px 0;
	padding: 60px 0 ;
	border: 1px solid #0B486B;
	border-radius: 10px;
	text-align: center;
	font-size: 2rem;
	font-weight: 900;
	color: #6B6905;

}
.contacts__lastoffer a {
	text-decoration: none;
	color: #B8B412;
}

footer {
	padding: 20px;
	background-color: #666;
	color:#fff
	
}



/*
lorem kl;fdkg;fdlkg 
fdf
dfg
dfgdfgdfgdf
fdgdfgfdgfdggg


*/

/* меньше 360px */
@media (max-width: 359px){
	body {
		font-size: 80%;
		background-color: #fff	;
	}

	h3 {
		font-size: 1.3rem;
	}

	.header__wrap {
		width: 275px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 20px 0;

	}
	.header img {
		width: 75px;
	}
	.header__phone a{
		font-size: 1.3rem;
		font-weight: 900;
		color:#0B486B;
		text-decoration: none;
	}
	.promo__title li {
		list-style: none;
		color: #6B6905;
		font-size: 2rem;
		font-weight: 900;
	}
	.promo__subtitle {
	width: 240px;
	text-align: right;
	color: #B8B412;
	font-size: 1.3rem;
}
	.wrap {
		width: 270px;
	}
	.price__templates {
		flex-direction: column;
    }
    .price__templates img {
	height: 70px;
}

    .steps__img {
    	display: none;
    }
    .steps__img2 {
    	display: block;
    }

    .gallery img {
    	max-width: 100%;
    	margin:5px;
    }
    .gallery__images {
	  grid-template-columns: 1fr;

	}

	.contacts img {
		max-width: 100%;
}
}













@media (min-width: 360px){
	body {
		font-size: 50%;
		background-color: #666	;
	}
	.header__wrap {
		width: 100%;
	}
}

@media (min-width: 768px){
	body {
		font-size: 80%;
		background-color: #fff	;
	}
	.header__wrap {
		width: 500px;
	}
}

@media (min-width: 1024px){
	body {
		font-size: 80%;
		background-color: #fff	;
	}
	.header__wrap {
		width: 800px;
	}
}

/* вужче 1280 */
@media (min-width:1280px){
	body {
		font-size: 100%;
		background-color: #fff	;
	}
	.header__wrap {
		width: 1000px;
	}
	
}

/* ширше 1280*/
@media (min-width: 1281px){
	.header__wrap{
		width: 1280px;
	}

}








